  <div class="contact">
    <div class="contact-col">
      <h3>Envoyer Nous vos Reclamation <img src="assets/msg-icon.png" alt="Message Icon" /> </h3>
      <p>Si vous avez quelques choses qui ne vous convient pas. N'hesitez pas a nous informer.</p>
      <ul>
        <li><img src="assets/mail-icon.png" alt="Mail Icon" /> benlehzilyosrclubgmail.com</li>
        <li><img src="assets/phone-icon.png" alt="Phone Icon" /> 92312230</li>
        <li><img src="assets/location-icon.png" alt="Location Icon" /> Tunisia, Nabeul</li>
      </ul>
    </div>
    <div class="contact-col">
      <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <label>Nom</label>
        <input type="text" name="nom" placeholder="Entrer votre nom" ngModel required #nom="ngModel" />
        <div *ngIf="formSubmitted && nom.invalid">
          <small class="error">Nom est requis.</small>
        </div>
        <label>Prenom</label>
        <input type="text" name="prenom" placeholder="Entrer votre prenom" ngModel required #prenom="ngModel" />
        <div *ngIf="formSubmitted && prenom.invalid">
          <small class="error">Prenom est requis.</small>
        </div>
        <label>Phone Number</label>
        <input type="tel" name="telephone" placeholder="Entrer votre numéro de télèphone" ngModel required #telephone="ngModel" />
        <div *ngIf="formSubmitted && telephone.invalid">
          <small class="error">numéro de télèphone est requis.</small>
        </div>
        <label>Votre réclamation</label>
        <textarea name="description" rows="6" placeholder="Votre réclamtion..." ngModel required #description="ngModel"></textarea>
        <div *ngIf="formSubmitted && description.invalid">
          <small class="error">réclamation est requise.</small>
        </div>
        <button type="submit" class="btn dark-btn">Submit now <img src="assets/white-arrow.png" alt="Arrow Icon" /></button>
      </form>
      
      <span>{{ result }}</span>
    </div>
  </div>
  