<div class="about">
    <div class="about-left">
      <img src="assets/livreur.jpg" alt="About Us" class="about-img" />
    </div>
  
    <div class="about-right">
      <h3>A PROPOS DE NOTRE SERVICE DE LIVRAISON</h3>
      <h2>Solutions de livraison rapides et fiables.</h2>
      <p> Que vous ayez besoin d'une livraison express en 24 heures ou d'une option standard, nous garantissons la sécurité et la ponctualité de vos colis. </p>
      <p>Avec un suivi en temps réel et un service client disponible 24/7, vous pouvez compter sur nous pour un service impeccable et une expérience sans tracas.</p>
    </div>
  </div>
  