<!--<nav class="container">
  <img src="assets/logo.png" alt="Logo" class="logo"/>
  <ul>
    <li><a href="#hero">Home</a></li>
    <li><a href="#programs">NOS OFFRES</a></li>
    <li><a href="#about">A PROPOS DE NOUS</a></li>
    <li><a href="#testimonials">AVIS</a></li>
    <li><a href="#contact" class="btn">CONTACTEZ NOUS</a></li>
  </ul>
  <img src="assets/menu-icon.png" alt="Menu Icon" class="menu-icon" (click)="toggleMenu()"/>
</nav>
-->

<nav [ngClass]="{'dark-nav': sticky}" class="container">
  <img src="assets/logo.png" alt="Logo" class="logo"/>
  <ul [ngClass]="{'hide-mobile-menu': !mobileMenu}">
    <li><a href="#hero">Home</a></li>
    <li><a href="#programs">NOS OFFRES</a></li>
    <li><a href="#about">A PROPOS DE NOUS</a></li>
    <li><a href="#testimonials">AVIS</a></li>
    <li><a href="#contact" class="btn">CONTACTEZ NOUS</a></li>
  </ul>
  <img src="assets/menu-icon.png" alt="Menu Icon" class="menu-icon" (click)="toggleMenu()"/>
</nav>
