<div class="programs">
    <div class="program">
      <img src="assets/livreur1.jpg" alt="Livraison Express"/>
      <p> Livraison Express</p>
      <div class="caption">
        <img src="assets/program-icon.png" alt="Livraison Express"/>
        <p>Livraison en 24 heures</p>
       <p> Suivi en temps réel de votre colis</p>
       <p> Service client disponible 24/7 pour toute assistance.</p>
         </div>
    </div>
  
    <div class="program">
      <img src="assets/livreur2.jpg" alt="Livraison Standard"/>
      <p>Livraison Standard</p>
      <div class="caption">
        <img src="assets/program-icon.png" alt="Livraison Standard"/>
        <p>Livraison dans 3 à 5 jours ouvrables.<p>
          <p>Suivi de colis disponible.</p>
          <p>Option d’assurance pour plus de sécurité.</p>
      </div>
    </div>
  
  </div>
  