<app-navbar></app-navbar>
<app-navbar></app-navbar>
<app-header id="home"></app-header>
<app-title subTitle="NOS OFFRES" title="Express et Standard" id="programs"></app-title>
<app-programs></app-programs>
<app-title subTitle="A PROPOS DE NOUS" title="Qui Sommes Nous" id="about"></app-title>
<app-about></app-about>
<app-title subTitle="AVIS SUR NOS SERVICES" title="Nos Clients" id="testimonials"></app-title>
<app-testimonials></app-testimonials>
<app-title subTitle="CONTACTEZ NOUS" title="Fell Free" id="contact"></app-title>
<app-contact></app-contact>
<app-footer></app-footer>
<router-outlet></router-outlet>
