<div class="testimonials">
    <img src="assets/next-icon.png" alt="Next" class="next-btn" (click)="slideForward()"/>
    <img src="assets/back-icon.png" alt="Back" class="back-btn" (click)="slideBackward()"/>
    <div class="slider">
      <ul #slider>
        <li>
          <div class="slide">
            <div class="user-info">
              <img src="assets/user-1.png" alt="User 1"/>
              <div>
                <h3>Leila Ali</h3>
                <span>Nabeul</span>
              </div>
            </div>
            <p>Un trés bon service..</p>
          </div>
        </li>
        <li>
          <div class="slide">
            <div class="user-info">
              <img src="assets/user-2.png" alt=""/>
              <div>
                <h3>Ahmed Salah</h3>
                <span>Tunis</span>
              </div>
            </div>
            <p>Pas de retard, je le recommande vivement...</p>
          </div>
        </li>
        <li>
          <div class="slide">
            <div class="user-info">
              <img src="assets/user-3.png" alt=""/>
              <div>
                <h3>Salwa Mesbah</h3>
                <span>Sfaex</span>
              </div>
            </div>
            <p>Support aprés vente trés gentil....</p>
          </div>
        </li>
        <li>
          <div class="slide">
            <div class="user-info">
              <img src="assets/user-4.png" alt=""/>
              <div>
                <h3>Ahmed Ben Alaya</h3>
                <span>Edusity, Mexico</span>
              </div>
            </div>
            <p>Meilleur choix de livraison...</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  